@font-face {
  font-family: "MontserratExtraBold";
  src: url(Montserrat-ExtraBold.ttf);
  font-weight: bolder;
  font-style: bolder;
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url(Montserrat-SemiBold.ttf);
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "MontserratRegular";
  src: url(Montserrat-Regular.ttf);
  font-weight: regular;
  font-style: regular;
}
@font-face {
  font-family: "MontserratMedium";
  src: url(Montserrat-Medium.ttf);
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "RobotoMedium";
  src: url(Roboto-Medium.ttf);
  font-weight: medium;
  font-style: medium;

}



html {
  background-color: #050111;
}

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgb(255, 0, 0) rgb(255, 255, 255);
}

.grid-contenedor {
  width: 100%;
  height: 100vh;
  display: grid;
  row-gap: 40px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    "header header header header header"
    ". menu-juegos menu-juegos menu-juegos ."
    ". beneficios beneficios beneficios ."
    ". reviews reviews reviews ."
    ". pasos pasos pasos ."
    "formulario formulario formulario formulario formulario"
    "footer footer footer footer footer";
}

@media (max-width: 768px) {
  .grid-contenedor {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "menu-juegos"
      "beneficios"
      "reviews"
      "pasos"
      "formulario"
      "footer";
  }

  

  .cards-beneficios {
    flex-direction: column;
  }


}

.contenedor-header {
  background-color: rgb(104, 104, 104);
  grid-area: header;
  width: 100%;
  background-image: url(fondoheader.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
#logo {
  position: absolute;
  top: 8%;
  left: 5%;
  transform: translate(-50%, -50%);
}
#fondoheader {
  width: 100%;
}

.titulo-header {
  width: 100%;
  color: white;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  row-gap: 100px;
}
.texto-header {
  display: flex;
  flex-direction: column;

  row-gap: 00px;
}
.texto-header h1 {
  text-align: center;
  font-size: 64;
  font-family: "MontserratExtraBold";
  font-weight: bolder;
}
.texto-header h2 {
  text-align: center;
  font-size: 36;
  font-family: "MontserratSemibold";
  font-weight: bold;
}

.cta-header {
  border-radius: 10px;
  background-color: red;
}

.cta-header p {
  padding-left: 180px;
  padding-right: 180px;
  font-size: 24;
  font-family: "MontserratExtrabold";
  font-weight: bolder;
}

.menu-juegos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #050111;
  grid-area: menu-juegos;
  height: 600;
  color: white;
}

.subtitulo {
  color: white;
  height: 50px;
  text-align: center;
  font-family: "MontserratRegular";
  font-size: 22;
}

.subtitulo hr {
  border-color: #e11f26;
}

.slide-juegos {
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.port {
  border: 5px;
  margin-right: 10px;
  position: relative;
}
.port-cuerpo {
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.port-cuerpo h4 {
  color: white;
  text-align: center;
  font-family: "MontserratRegular";
  font-weight: regular;
}

.beneficios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #050111;
  grid-area: beneficios;
  height: 400px;
}
.cards-beneficios {
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #050111;
}

.beneficios h1 {
  font-family: "MontserratExtrabold";
  font-size: 18;
  font-weight: bold;
}

.beneficios p {
  font-family: "MontserratRegular";
  font-size: 18;
  font-weight: regular;
}

.contenedor-beneficios2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color: aliceblue;
  height: 260px;
  width: 270px;
  text-align: center;
}

.contenedor-beneficios2 img {
  margin-top: 10px;
  width: 124px;
  height: 93px;
 
}





.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #050111;
  grid-area: reviews;
  height: 410px;
  color: white;
}

.contenedor-reviews {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 80px;
  align-items: center;
  background-color: #050111;
}

.cards-reviews {
  display: flex;
  flex-direction: column;
  width: 165px;
  align-items: center;
  text-align: center;
}

.cards-reviews h1 {
  font-size: 18px;
  font-family: "MontserratSemibold";
  font-weight: bold;
}

.cards-reviews p {
  font-size: 14;
  font-family: "MontserratMedium";
  font-weight: Medium;
}



.pasos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #050111;
  grid-area: pasos;
  height: 400px;
    
}




.contenedor-pasos1 p {
  color: white;
  font-family: "RobotoMedium";
  font-weight: medium;
  font-size: 18px;
}


.contenedor-pasos1{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 0px;
  height: 50px;
  align-items: center;  
}
.contenedor-pasos1 img {
  width: 50px;
  height: 50px;
}

.cardpasos {
  width: 400px;
  display: flex;
  flex-direction: row;
  column-gap: 10px; 
}


.formulario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(225,31,38);
  background: linear-gradient(90deg, rgba(225,31,38,1) 11%, rgba(2,0,36,1) 100%);
  grid-area: formulario;
}

.izquierda-form {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}

.izquierda-form h1 {
  top: 0;
  height: 50px;
  width: 600px;
  font-size: 32;
  color: white;
  font-family: "MontserratSemibold";
  font-weight: semibold;
}

.contenedor-form {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  background-color: rgb(104, 104, 104, 0);
  margin-right: 22%;
}

input[type="text"] {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 275px;
}
input[type="email"] {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 275px;
}

.feedback {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
select {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 274px;
    align-items: center;
  }
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
  margin: 10px;
  border-radius: 10px;
  background-color: red;
  border: none;
  padding: 10px;
  width: 274px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.contenedor-footer {
  display: flex;
  justify-content: space-around;
  background-color:#050111 ;
  grid-area: footer;
  height: 433px;
}

.footer-partes {
  width: 60%;
  display: flex;
  flex-direction: column;

}

.footer-arriba {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.logo2 {
display: flex;
flex-direction: column;


}

.logo2 p {
color: rgb(255, 255, 255);

}

.logo2 img {
margin-top: 100px;
width: 240px;
height: 50px;

}

.textomediofooter {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.textomediofooter h3 {
  font-size: 18px;
  font-family: "MontserratSemibold";
  font-weight: bold;
  color: rgb(255, 255, 255);

}

.redes-sociales {
display: flex;

flex-direction: column;

}

.redes-sociales img {
  margin-top: 100px;
  width: 380px;
  height: 50px;
}

.footer-abajo {
  width: 100%;
  color: white;
}

.footer-abajo hr{
  border-color: #e11f26;
}